name: Build
on:
  push:
    branches:
      - main
jobs:
  release:
    environment: main
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm clean-install
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE }}
        run: npx semantic-release --deps.bump=inherit
  build:
      needs:
          - release
      runs-on: ubuntu-latest
      steps:
          - name: Check out repository code
            uses: actions/checkout@v4
            with:
                fetch-depth: 0
          - name: Create npmrc
            run: echo '//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN  }}' >> ${{ github.workspace }}/.npmrc
          - name: Install Deps
            run: npm ci
            env:
                GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          - name: Build Game
            run: npm run build
          - name: Deploy 🚀
            uses: JamesIves/github-pages-deploy-action@v4
            with:
                branch: gh-pages
                folder: dist
